{% extends 'Back/base.html.twig' %}

{% block title %}Platform index{% endblock %}

{% block body %}
<div class="w-5/6 h-auto mx-auto px-8 py-16 bg-grey-lighter">
    <div class="flex justify-between items-center">
        <h1 class="text-4xl text-primary font-bold inline-block">Liste des Plateformes</h1>
        <a class="btn btn-secondary" href="{{ path('platform_new') }}">Ajouter</a>
    </div>
    <table class="table-auto border-collapse w-full mt-12 rounded bg-white" cellpadding="0" cellspacing="0">
        <thead class="font-bold bg-blue-darker text-white">
            <tr>
                <td>Id</td>
                <td>Nom</td>
                <td>Modifier</td>
                <td>Supprimer</td>
            </tr>
        </thead>
        <tbody>
        {% for platform in platforms %}
            <tr>
                <td>{{ platform.id }}</td>
                <td>{{ platform.name }}</td>
                <td><a href="{{ path('platform_edit', {'slug': platform.slug}) }}" class="font-bold text-primary">Editer</a></td>
                <td>{{ include('Back/platform/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
