{% extends 'base.html.twig' %}

{% block content %}

    <div class="left-part">
        <div class="logo">
            <img src="{{ asset('build/img/playmoreheader.png') }}" alt="">
        </div>
    </div>
    <div class="right-part">
    {#{{ form_start(form) }}#}
    {#{{ form_row(form.username) }}#}
    {#{{ form_row(form.email) }}#}
    {#{{ form_row(form.password.first) }}#}
    {#{{ form_row(form.password.second) }}#}

    {#<button type="submit">S'inscrire !</button>#}
    {#{{ form_end(form) }}#}
        <form class="login" action="{{ path('app_security_registration') }}" method="post">
            <h1 class="login-title">Inscription</h1>
            <input type="text" class="login-input" placeholder="Nom d'utilisateur" autofocus id="username" name="username" />
            <input type="text" class="login-input" placeholder="Adresse email" id="email" name="email">
            <input type="password" id="password.first" name="_password_first" class="login-input" placeholder="Mot de passe">
            <input type="password" id="password.second" name="_password_second" class="login-input" placeholder="Répeter le mot de passe">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <input type="submit" value="S'inscrire" class="login-button">
            <p class="login-lost">Vous avez déjà compte ? <a href="{{ path('app_security_login') }}">Se connecter</a></p>
        </form>
    </div>

{% endblock %}