{% extends 'Front/base.html.twig' %}

{% block content %}
    <div class="w-2/3 h-auto mx-auto px-8 py-16">
        <h1 class="text-primary mb-6">Editer Profil</h1>
        {{ form_start(form) }}
        <div class="bg-white p-8 flex">
            <div class="w-1/2 p-4">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {#{{ form_row(form.roles) }}#}
                <div>
                    <label for="" class="font-bold uppercase mb-2 block text-playmore-text">Votre adresse</label>
                    <input type="search" id="address-input" name="address" placeholder="Votre adresse" value="{{ app.user.address }}" />
                </div>
            </div>
            <div class="w-1/2 p-4">
                {{ form_row(form.imgFile) }}
                {{ form_row(form.platforms) }}
            </div>
        </div>
        <div class="bg-grey-lighter flex p-4 rounded-b justify-end">
            <button class="btn btn-edit mr-2">{{ button_label|default('Enregistrer') }}</button>
            <a class="btn btn-secondary" href="{{ path('user_profile', {'slug': user.slug}) }}">Retour</a>
        </div>
        {{ form_end(form)}}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('geolocate_address') }}
{% endblock %}

