{% extends 'base.html.twig' %}

{% block content %}
    <div class="flex">
        <aside class="min-h-screen bg-white p-8" style="width: 300px">
            {% include 'Front/adverts/_profile_name_city.html.twig' with { 'img_name': user.imgName, 'username': user.username, 'city': user.city, 'postal_code': user.postalCode } %}
            {% if app.user.id == user.id %}
            <a href="{{ path('user_edit', { 'slug': user.slug }) }}" class="bg-playmore-purple-500 font-bold mt-2 p-2 inline-block rounded text-playmore-purple-500 text-white">Editer</a>
            {% endif %}
            <div class="flex flex-col text-playmore-text font-bold text-xl mt-10 uppercase tracking-wide">
                <a class="mb-6" href="{{ path('user_profile_2', {'slug': user.slug, 'page': 'game'}) }}">Jeux</a>
                <a class="mb-6" href="{{ path('user_profile_2', {'slug': user.slug, 'page': 'advert'}) }}">Annonces</a>
                <a class="mb-6" href="{{ path('user_profile_2', {'slug': user.slug, 'page': 'offer'}) }}">Offres</a>
                <a class="mb-6" href="{{ path('user_profile_2', {'slug': user.slug, 'page': 'comment'}) }}">Avis</a>
            </div>
        </aside>
        <main class="w-full h-screen p-10">
            {% if page == 'game' %}
                <div class="flex items-center mb-10">
                    <h1 class="text-playmore-purple-500">Jeux</h1>
                    <a href="{{ path('user_game_add') }}" class="bg-playmore-blue font-semibold mx-4 p-3 rounded text-white">Ajouter</a>
                </div>
                <div>
                {% for platform, games in platforms %}
                    <div class="mt-10">
                        <p class="text-2xl font-semibold text-playmore-text mb-4">{{ platform }}</p>
                        <div class="flex">
                        {% for game in games %}
                            <div class="bg-white rounded flex items-center shadow-md mr-6" style="min-width: 414px">
                                <img style="width: 130px; height: 167px;" src="{{ asset('images/games/' ~  game.img_name  ) }}" alt="">
                                <div class="p-4" style="min-width: 284px">
                                    <p class="font-bold text-xl mb-2 text-playmore-text">{{ game.name }}</p>
                                    <p class="mb-2 text-playmore-purple-500 font-semibold">{{ game.developer }}</p>
                                    <p class="text-playmore-purple-400">{{ game.release_date | localizeddate('medium', 'none') }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
            {% if page == 'advert' %}
                <div class="flex items-center mb-10">
                    <h1 class="text-playmore-purple-500">Annonces</h1>
                    <a href="{{ path('advert_new') }}" class="bg-playmore-blue font-semibold mx-4 p-3 rounded text-white">Ajouter</a>
                </div>
                <div class="flex flex-wrap">
                    {% include 'Front/adverts/_advert.html.twig' with {'adverts': adverts} %}
                </div>
            {% endif %}
            {% if page == 'offer' %}
                <h1 class="text-playmore-purple-500 mb-10">Offres</h1>
                <div class="flex flex-wrap">
                    <table>
                        <thead>
                            <tr class="bg-playmore-purple-500 text-white">
                                <th class="p-4 text-left">Annonce</th>
                                <th class="p-4 text-left">Jeu</th>
                                <th class="p-4 text-left">Plateforme</th>
                                <th class="p-4 text-left">Auteur de l'annonce</th>
                                <th class="p-4 text-left">Durée</th>
                                <th class="p-4 text-left">Date début</th>
                                <th class="p-4 text-left">Date fin</th>
                                <th class="p-4 text-left">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for offer in offers %}
                            {% set difference = date(offer.end_date).diff(date(offer.start_date)) %}
                            {% set leftDays = difference.days %}
                            <tr>
                                <td>
                                    <a target="_blank" href="{{ path('advert_show', {'id' : offer.advert_id  }) }}">
                                        <svg style="fill: #484757" xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="external-link"><rect width="24" height="24" opacity="0"/><path d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1z"/><path d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2z"/></g></g></svg>
                                    </a>
                                </td>
                                <td>{{ offer.game_name }}</td>
                                <td>{{ offer.platform }}</td>
                                <td>{{ offer.username }}</td>
                                <td>{% if leftDays == 1 %}
                                        1 jour
                                    {% else %}
                                        {{ leftDays }} jours
                                    {% endif %}
                                </td>
                                <td>{{ offer.start_date|localizeddate('medium', 'none') }}</td>
                                <td>{{ offer.end_date|localizeddate('medium', 'none') }}</td>
                                <td style="color: {{ offer.offer_status_color }};" class="font-bold">{{ offer.offer_status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if page == 'advert' %}
        {{ encore_entry_script_tags('advert') }}
    {% endif %}
{% endblock %}