{% extends 'Back/base.html.twig' %}

{% block body %}
    <div class="w-5/6 h-auto mx-auto px-8 py-16 bg-grey-lighter">
        <div class="flex justify-between items-center">
            <h1 class="text-4xl text-primary font-bold inline-block">Liste des catégories</h1>
            <a class="btn btn-secondary" href="{{ path('category_new') }}">Ajouter</a>
        </div>
        <table class="table-auto border-collapse w-full mt-12 rounded bg-white" cellpadding="0" cellspacing="0">
            <thead class="font-bold bg-blue-darker text-white">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Editer</td>
                <td>Supprimer</td>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td><a href="{{ path('category_edit', {'slug' : category.slug}) }}" class="font-bold text-primary">Editer</a></td>
                    <td>{{ include('Back/category/_delete_form.html.twig') }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}