<form action="{{ path('advert_list') }}" method="post">

<header style="border-bottom: 4px solid #2a8eff;" class="header px-16 flex items-center justify-between relative">
    <div class="flex items-center">
        <a href="{{ path('app_security_home') }}" class="mr-8">
            <img src="{{ asset('images/playmoreheader.png') }}">
        </a>
        <div class="flex items-center font-bold px-3 rounded bg-grey-lighter">
            <input type="text" placeholder="Rechercher" class="py-3 bg-grey-lighter" name="game" style="width: 270px">
            <svg height="24" width="24" fill="#4d5eb4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="search"><rect width="24" height="24" opacity="0"/><path d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"/></g></g></svg>
        </div>

        <div class="ml-2 flex items-center">
            <svg class="cursor-pointer toggle-filter" fill="#4d5eb4" width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="funnel"><rect width="24" height="24" opacity="0"/><path d="M13.9 22a1 1 0 0 1-.6-.2l-4-3.05a1 1 0 0 1-.39-.8v-3.27l-4.8-9.22A1 1 0 0 1 5 4h14a1 1 0 0 1 .86.49 1 1 0 0 1 0 1l-5 9.21V21a1 1 0 0 1-.55.9 1 1 0 0 1-.41.1zm-3-4.54l2 1.53v-4.55A1 1 0 0 1 13 14l4.3-8H6.64l4.13 8a1 1 0 0 1 .11.46z"/></g></g></svg>
            {% if app.user is not null %}
            <svg class="cursor-pointer ml-2 geolocate-btn" data-slug="{{ app.user.slug }}" fill="#4d5eb4" viewBox="0 0 24 24" width="24px" height="24px" data-reactid="135"><path d="M12 7.64A4.36 4.36 0 1 0 16.36 12 4.36 4.36 0 0 0 12 7.64zm9.75 3.27a9.8 9.8 0 0 0-8.66-8.66V1.09a1.09 1.09 0 1 0-2.18 0v1.16a9.8 9.8 0 0 0-8.66 8.66H1.09a1.09 1.09 0 0 0 0 2.18h1.16a9.8 9.8 0 0 0 8.66 8.66v1.16a1.09 1.09 0 0 0 2.18 0v-1.16a9.8 9.8 0 0 0 8.66-8.66h1.16a1.09 1.09 0 0 0 0-2.18zM12 19.64A7.64 7.64 0 1 1 19.64 12 7.64 7.64 0 0 1 12 19.64z" data-reactid="136"></path></svg>
            {% endif %}
        </div>
    </div>

    <div class="flex items-center relative">
        <div class="text-playmore-text font-bold text-xl flex items-center mr-3">
            {% if app.user is not null %}
            <a href="{{ path('advert_new') }}" class="bg-playmore-blue flex items-center p-2 rounded text-sm text-white mx-2">
                <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" fill="white" height="24" width="24" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="plus-square"><rect width="24" height="24" opacity="0"/><path d="M18 3H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3zm1 15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1z"/><path d="M15 11h-2V9a1 1 0 0 0-2 0v2H9a1 1 0 0 0 0 2h2v2a1 1 0 0 0 2 0v-2h2a1 1 0 0 0 0-2z"/></g></g></svg>
                Ajouter une annonce
            </a>
            {% endif %}
            <a href="{{ path('advert_list') }}" class="header-links">Annonces</a>
            {% if app.user is null %}
            <a href="{{ path('app_security_registration') }}" class="header-links">Créer un compte</a>
            <a href="{{ path('app_security_login') }}" class="header-links">Connexion</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('game_index') }}" class="header-links">Admin</a>
            {% endif %}
            {% if app.user is not null %}
            <a href="{{ path('logout') }}" class="header-links">Deconnexion</a>
            {% endif %}
            {% if app.user is not null %}
            <div class="notif-icon">
                <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="bell"><rect width="24" height="24" opacity="0"/><path d="M20.52 15.21l-1.8-1.81V8.94a6.86 6.86 0 0 0-5.82-6.88 6.74 6.74 0 0 0-7.62 6.67v4.67l-1.8 1.81A1.64 1.64 0 0 0 4.64 18H8v.34A3.84 3.84 0 0 0 12 22a3.84 3.84 0 0 0 4-3.66V18h3.36a1.64 1.64 0 0 0 1.16-2.79zM14 18.34A1.88 1.88 0 0 1 12 20a1.88 1.88 0 0 1-2-1.66V18h4zM5.51 16l1.18-1.18a2 2 0 0 0 .59-1.42V8.73A4.73 4.73 0 0 1 8.9 5.17 4.67 4.67 0 0 1 12.64 4a4.86 4.86 0 0 1 4.08 4.9v4.5a2 2 0 0 0 .58 1.42L18.49 16z"/></g></g></svg>
                <span class="notif-number">0</span>
            </div>
            <div class="notifs"></div>
            {% endif %}
        </div>
        {% if app.user is defined and app.user is not null %}
        <a class="bg-playmore-purple-500 font-bold mr-2 p-2 rounded text-playmore-purple-500 text-white" href="{{ path('app_security_payment') }}">{{ app.user.coins }} PMC</a>
        <a class="flex items-center" href="{{ path('user_profile', {'slug': app.user.slug }) }}">
           <img src="{{ asset('images/user/' ~  app.user.imgName  ) }}" alt="{{ app.user.username }}" class="rounded-full message-user-icon">
           <p class="text-playmore-purple-500 font-bold text-lg">{{ app.user.username }}</p>
           <svg xmlns="http://www.w3.org/2000/svg" fill="#2a8eff" height="26" width="26" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="arrow-down"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M12 17a1.72 1.72 0 0 1-1.33-.64l-4.21-5.1a2.1 2.1 0 0 1-.26-2.21A1.76 1.76 0 0 1 7.79 8h8.42a1.76 1.76 0 0 1 1.59 1.05 2.1 2.1 0 0 1-.26 2.21l-4.21 5.1A1.72 1.72 0 0 1 12 17zm-3.91-7L12 14.82 16 10z"/></g></g></svg>
        </a>
        {% endif %}
    </div>
</header>
</form>