<header>
    <a href="{{ path('app_security_home') }}">
        <img src="{{ asset('images/playmoreheader.png') }}" class="logo-size">
    </a>
    <div>
        <a class="return-button" href="{{ path('advert_list') }}">Annonces</a>
        <a class="return-button" href="{{ path('user_profile' ,{'slug': app.user.slug}) }}">Profil</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="return-button" href="{{ path('game_index') }}">Admin</a>
        {% endif %}
        <a class="return-button" href="{{ path('app_security_logout') }}">Se déconnecter</a>
    </div>
</header>