{% extends 'Front/Security/baseauth.html.twig' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}


    <div class="left-part">
        <div class="logo">
            <img src="{{ asset('images/playmoreheader.png') }}" alt="">
        </div>
    </div>
    <div class="right-part">
        <form class="login" action="{{ path('app_security_login') }}" method="post">
            <h1 class="login-title">Connexion</h1>
            <div class="flex flex-col">
                <label>Email</label>
                <input type="text" class="login-input" autofocus id="email" name="_username" value="{% if error %}{{ error.token.user }}{% endif %}">
            </div>
            <div class="flex flex-col">
                <label>Mot de passe</label>
                <input type="password" id="password" name="_password" class="login-input" >
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <p class="login-lost">Vous n'avez pas de compte ? <a href="{{ path('app_security_registration') }}">S'inscrire</a></p>
            <p class="login-lost">Problème de mot de passe ? <a href="{{ path('app_security_forgot') }}">Mot de passe oublié</a></p>
            <input type="submit" value="Se connecter" class="login-button">

        </form>
    </div>
{% endblock %}