{{ form_start(form) }}
{% if form.game is defined %}
    {{ form_row(form.game) }}
{% endif %}
{% if form.price is defined %}
    {{ form_row(form.price) }}
{% endif %}
{{ form_row(form.startDate) }}
{{ form_row(form.endDate) }}
<div class="flex justify-end">
    <button type="submit" class="btn btn-add">Valider</button>
</div>
{{ form_end(form) }}
