<div class="bg-white rounded shadow m-4 p-4" style="width: 480px; height: 130px;">
    <p class="mb-3 text-playmore-blue-darkest font-bold"><a href="{{ path('user_profile', {'slug': offer.advert_author}) }}">Annonce #{{ offer.advert_id }}</a></p>
        <div class="flex justify-between">
            <div class="flex items-center">
            {% if offer.game is defined and offer.game is not null %}
                <img src="{{ asset('images/games/' ~ offer.game_img) }}" class="mr-4" alt="" style="height: 60px; width: 50px;">
                <div class="flex flex-col">
                    <p class="text-grey-darkest font-bold">{{ offer.game }}</p>
                    <p class="text-grey-darker font-semibold">Jeu proposé</p>
                </div>
            {% else  %}
                <p class="font-semibold">{{ offer.price }} PMC</p>
            {% endif %}
            </div>
            <div class="flex items-center font-semibold">
                <i class="fas fa-calendar"></i>
                <div class="flex flex-col ml-2 text-sm text-right">
                    <p>Du {{ offer.start_date | localizeddate('medium', 'none') }}</p>
                    <p>Au {{ offer.end_date | localizeddate('medium', 'none') }}</p>
                </div>
            </div>
        </div>

</div>