{% extends 'base.html.twig' %}


{% block title %}PlayMore{% endblock %}

{% block content %}
    {% if is_granted('ROLE_USER') %}
        <div class="pmcoins">
            <div class="mycoins">
                <a href="{{ path('app_security_payment') }}"><p> Mes PlayMore Coins : {{ app.user.coins }}</p></a>
            </div>
        </div>
    {% endif %}


        <form action="{{ path("app_security_results") }}" method="GET">
            <div class="home-content">
                <div class="search-container">
                    <input type="text" id="search-bar" name="game" placeholder="Quel jeu souhaitez vous échanger?">
                </div>
                <div class="filters">
                   <div class="filter-container">
                       <select id="filter-select" name="platform">
                           <option value="" selected>Plateforme</option>
                           {% for platform in platforms %}
                           <option value="{{ platform.id }}">{{ platform.name }}</option>
                           {% endfor %}
                       </select>
                   </div>
                   <div class="filter-container">
                       <select id="filter-select" name="category">
                           <option value="" selected>Categories</option>
                           {% for category in categories %}
                               <option value="{{ category.id }}">{{ category.name }}</option>
                           {% endfor %}
                       </select>
                   </div>
                   <div class="filter-container">
                       <select id="filter-select" name="localisation">
                           <option>Localisation</option>
                           <option>Ile-de-France</option>
                           <option>Haut-de-France</option>
                           <option>Haut-Bas-France</option>
                       </select>
                   </div>
                </div>
                <button class="geolocate-btn">GEOLOCALISER</button>
                <p>LOCATION : <span class="positions"></span></p>

                <div class="last-news">
                    <h1 class="ml-5 mt-3">Découvrez les jeux du moments</h1>
                    <a href="{{ path("app_security_results", {"game":"Red Dead Redemption 2"}) }}"><img class="homeimages"  name="Red dead redemption 2" src="{{ asset('images/jeux_moment/reddead.jpg') }}" /></a>
                    <a href="{{ path("app_security_results", {"game":"GTA V"}) }}"><img class="homeimages" name="GTA V" src="{{ asset('images/jeux_moment/gta.jpg') }}" /></a>
                    <a href="{{ path("app_security_results", {"game":"Battlefield 1"}) }}"><img class="homeimages" name="Battlefield 1" src="{{ asset('images/jeux_moment/only.jpg') }}" /></a>
                    <a href="{{ path("app_security_results", {"game":"Spiderman"}) }}"> <img class="homeimages" name="Spiderman" src="{{ asset('images/jeux_moment/spiderman.jpg') }}" /></a>
                    <a href="{{ path("app_security_results", {"game":"The Division"}) }}"> <img class="homeimages" name="The division" src="{{ asset('images/jeux_moment/thedivision.jpg') }}" /></a>
                    <a href="{{ path("app_security_results", {"game":"Assassin's Creed"}) }}">    <img class="homeimages" name="Assassin's Creed" src="{{ asset('images/jeux_moment/assacin.jpg') }}" /></a>
                    <a href="{{ path("app_security_results", {"game":"Metro"}) }}">     <img class="homeimages" name="Metro" src="{{ asset('images/jeux_moment/metro.jpg') }}" /></a>
                    <a href="{{ path("app_security_results", {"game":"Far Cry Primal"}) }}">    <img class="homeimages" name="Far Cry Primal" src="{{ asset('images/jeux_moment/farcry.jpg') }}" /></a>
                </div>
            </div>
        </form>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('geolocate') }}
{% endblock %}