{% extends 'base.html.twig' %}


{% block title %}PlayMore{% endblock %}

{% block content %}
    {% if is_granted('ROLE_USER') %}
        <div class="pmcoins">
            <div class="mycoins">
                <p> Mes PlayMore Coins : {{ app.user.coins }}</p>
            </div>
        </div>
    {% endif %}


        <form action="{{ path("app_security_results") }}" method="GET">
            <div class="home-content">
                <div class="search-container">
                    <input type="text" id="search-bar" name="game" placeholder="Quel jeu souhaitez vous échanger?">
                </div>
                <div class="filters">
                   <div class="filter-container">
                       <select id="filter-select" name="platform">
                           <option value="" selected>Plateforme</option>
                           {% for platform in platforms %}
                           <option value="{{ platform.id }}">{{ platform.name }}</option>
                           {% endfor %}
                       </select>
                   </div>
                   <div class="filter-container">
                       <select id="filter-select" name="category">
                           <option value="" selected>Categories</option>
                           {% for category in categories %}
                               <option value="{{ category.id }}">{{ category.name }}</option>
                           {% endfor %}
                       </select>
                   </div>
                   <div class="filter-container">
                       <select id="filter-select" name="localisation">
                           <option>Localisation</option>
                           <option>Ile-de-France</option>
                           <option>Haut-de-France</option>
                           <option>Haut-Bas-France</option>
                       </select>
                   </div>
                    <div class="filter-container">
                        <select id="filter-select" name="distance">
                            <option>Distance</option>
                            <option>5km</option>
                            <option>10km</option>
                            <option>15km</option>
                            <option>20km</option>
                        </select>
                    </div>
                </div>

                <div class="last-news">
                    <h1 class="ml-5 mt-3">Découvrez les jeux du moments</h1>
                    <img class="homeimages" src="{{ asset('images/jeux_moment/reddead.jpg') }}" />
                    <img class="homeimages" src="{{ asset('images/jeux_moment/gta.jpg') }}" />
                    <img class="homeimages" src="{{ asset('images/jeux_moment/only.jpg') }}" />
                    <img class="homeimages" src="{{ asset('images/jeux_moment/spiderman.jpg') }}" />
                    <img class="homeimages" src="{{ asset('images/jeux_moment/thedivision.jpg') }}" />
                    <img class="homeimages" src="{{ asset('images/jeux_moment/assacin.jpg') }}" />
                    <img class="homeimages" src="{{ asset('images/jeux_moment/metro.jpg') }}" />
                    <img class="homeimages" src="{{ asset('images/jeux_moment/farcry.jpg') }}" />
                </div>
            </div>
        </form>

{% endblock %}
