{% extends 'base.html.twig' %}


{% block title %}PlayMore{% endblock %}

{% block content %}
    <div class="relative">
        <div class="bg-white geoloc-popup p-4 rounded" style="width: 400px; position: absolute;left: 50%;top: 30px;transform: TranslateX(-50%); display: none; opacity: 0.8;">
            <h1 class="text-xl text-playmore-purple-500 mb-2">Votre position :</h1>
            <p class="position text-playmore-purple-400 mb-2">Rue des hirondelles, Pontault-Combault</p>
            {% if app.user is defined and app.user is not null %}
                <a href="{{ path('user_edit', {'slug': app.user.slug}) }}">Cliquez ici pour la modifer</a>
            {% endif %}
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="pmcoins">
                <div class="mycoins">
                    <a href="{{ path('app_security_payment') }}"><p> Mes PlayMore Coins : {{ app.user.coins }}</p></a>
                </div>
            </div>
        {% endif %}


        <form action="{{ path("advert_list") }}" method="POST">

            <div class="home-content">
                <div class="search-container flex items-center">
                    <input type="text" id="search-bar" name="game" placeholder="Quel jeu souhaitez vous échanger?">
                    {% if app.user is defined and app.user is not null %}
                        <div style="height: 38px; width: 38px" class="bg-white flex items-center justify-center ml-1 p-1 rounded cursor-pointer geolocate-btn">
                            <svg fill="#4d4d4d" viewBox="0 0 24 24" width="1em" height="1em" data-reactid="135"><path d="M12 7.64A4.36 4.36 0 1 0 16.36 12 4.36 4.36 0 0 0 12 7.64zm9.75 3.27a9.8 9.8 0 0 0-8.66-8.66V1.09a1.09 1.09 0 1 0-2.18 0v1.16a9.8 9.8 0 0 0-8.66 8.66H1.09a1.09 1.09 0 0 0 0 2.18h1.16a9.8 9.8 0 0 0 8.66 8.66v1.16a1.09 1.09 0 0 0 2.18 0v-1.16a9.8 9.8 0 0 0 8.66-8.66h1.16a1.09 1.09 0 0 0 0-2.18zM12 19.64A7.64 7.64 0 1 1 19.64 12 7.64 7.64 0 0 1 12 19.64z" data-reactid="136"></path></svg>
                        </div>
                    {% endif %}
                </div>
                <div class="filters">
                    <div class="filter-container">
                        <select id="filter-select" name="platform[]">
                            <option value="" selected>Plateformes</option>
                            {% for platform in platforms %}
                                <option value="{{ platform.id }}">{{ platform.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter-container">
                        <select id="filter-select" name="category">
                            <option value="" selected>Categories</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter-container">
                        <select id="filter-select" name="distance">
                            <option value="" selected>Distance</option>
                            {% for distance in distances %}
                                <option value="{{ distance }}">{{ distance }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="last-news">
                    <h1 class="ml-5 mt-3">Découvrez les jeux du moments</h1>
                    <a href="{{ path("advert_list", {"game":"Red Dead Redemption 2"}) }}"><img class="homeimages"  name="Red dead redemption 2" src="{{ asset('images/jeux_moment/reddead.jpg') }}" /></a>
                    <a href="{{ path("advert_list", {"game":"GTA V"}) }}"><img class="homeimages" name="GTA V" src="{{ asset('images/jeux_moment/gta.jpg') }}" /></a>
                    <a href="{{ path("advert_list", {"game":"Battlefield 1"}) }}"><img class="homeimages" name="Battlefield 1" src="{{ asset('images/jeux_moment/only.jpg') }}" /></a>
                    <a href="{{ path("advert_list", {"game":"Spiderman"}) }}"> <img class="homeimages" name="Spiderman" src="{{ asset('images/jeux_moment/spiderman.jpg') }}" /></a>
                    <a href="{{ path("advert_list", {"game":"The Division"}) }}"> <img class="homeimages" name="The division" src="{{ asset('images/jeux_moment/thedivision.jpg') }}" /></a>
                    <a href="{{ path("advert_list", {"game":"Assassin's Creed"}) }}">    <img class="homeimages" name="Assassin's Creed" src="{{ asset('images/jeux_moment/assacin.jpg') }}" /></a>
                    <a href="{{ path("advert_list", {"game":"Metro"}) }}">     <img class="homeimages" name="Metro" src="{{ asset('images/jeux_moment/metro.jpg') }}" /></a>
                    <a href="{{ path("advert_list", {"game":"Far Cry Primal"}) }}">    <img class="homeimages" name="Far Cry Primal" src="{{ asset('images/jeux_moment/farcry.jpg') }}" /></a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('geolocate') }}
{% endblock %}