{#{% for advert in adverts %}#}
{#    {% if advert.advert_kind_name == 'Echange' %}#}
{#        <div class="advert-card shadow rounded">#}
{#            {% if is_granted('ROLE_USER') and advert.user_id == app.user.id %}#}
{#            <div class="bg-playmore-blue profile-left-btn">#}
{#                <a href="{{ path('advert_edit', {'id': advert.advert_id}) }}">#}
{#                    <i class="fas fa-edit text-white"></i>#}
{#                </a>#}
{#            </div>#}
{#            <div class="bg-red-light profile-edit-btn">#}
{#                {{ include('Front/adverts/_delete_form.html.twig') }}#}
{#            </div>#}
{#            {% endif %}#}
{#            #}{# HEADER #}
{#            <div style="height: 60px;" class="w-full flex items-center justify-between font-bold text-playmore-blue-lightest rounded-t px-4 border-b-2 bg-playmore-blue-darkest border-playmore-blue-lightest">#}
{#                <div class="flex">#}
{#                    <i class="far fa-clock"></i>#}
{#                    <p class="text-base created_at ml-2" datetime="{{ advert.created_at }}"></p>#}
{#                </div>#}
{#                <div class="flex items-center">#}
{#                    <i class="fas fa-calendar"></i>#}
{#                    <div class="flex flex-col ml-2 text-sm text-right">#}
{#                        <p>Du {{ advert.start_date | localizeddate('medium', 'none') }}</p>#}
{#                        <p>Au {{ advert.end_date | localizeddate('medium', 'none') }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            #}{# MAIN #}
{#            <div style="height: 240px;" class="bg-white px-4 flex flex-col text-playmore-text">#}
{#                <div class="h-1/2 flex justify-between items-center border-b-2 border-playmore-blue-lightest">#}
{#                    <div class="flex">#}
{#                        <img style="width: 48px; height: 60px;" src="{{ asset('images/games/' ~  advert.game_owned_img_name  ) }}" alt="">#}
{#                        <div class="flex flex-col justify-center ml-3">#}
{#                            <p class="font-bold pb-1">{{ advert.game_owned_name }}</p>#}
{#                            <p class="font-semibold">{{ advert.game_owned_platform }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <p class="text-playmore-text font-semibold">Possède</p>#}
{#                </div>#}
{#                <div class="h-1/2 flex justify-between items-center">#}
{#                    <div class="flex">#}
{#                        <img style="width: 48px; height: 60px;" src="{{ asset('images/games/' ~ advert.game_wanted_img_name ) }}" alt="">#}
{#                        <div class="flex flex-col justify-center ml-3">#}
{#                            <p class="font-bold text-black pb-1">{{ advert.game_wanted_name }}</p>#}
{#                            <p class="font-semibold">{{ advert.game_wanted_platform  }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <p class="text-playmore-text font-semibold">Recherche</p>#}
{#                </div>#}
{#            </div>#}
{#            #}{# FOOTER #}
{#            {% if is_granted('ROLE_USER') %}#}
{#            <div style="height: 60px;" class="flex items-center justify-between px-4 bg-playmore-blue-lightest rounded-b">#}
{#                <a class="flex items-center justify-between" href="{{ path('user_profile', { 'slug' : advert.user_slug }) }}">#}
{#                    <img style="height: 40px; width: 40px;" src="{{ asset('images/user/' ~ advert.user_img_name) }}" alt="" class="rounded-full bg-grey">#}
{#                    <div class="flex flex-col text-sm ml-3">#}
{#                        <p class="font-bold text-playmore-text">{{ advert.username | capitalize }}</p>#}
{#                        <p class="text-playmore-text-light">{{ advert.city }} ({{ advert.postal_code }})</p>#}
{#                    </div>#}
{#                </a>#}
{#                <a href="{{ path('advert_show', {'id': advert.advert_id}) }}" class="btn btn-secondary">Voir</a>#}
{#            </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    {% elseif advert.advert_kind_name == 'Location' %}#}
{#        <div class="advert-card">#}
{#            {% if is_granted('ROLE_USER') and advert.user_id == app.user.id %}#}
{#                <div class="bg-playmore-blue profile-left-btn">#}
{#                    <a href="{{ path('advert_edit', {'id': advert.advert_id}) }}">#}
{#                        <i class="fas fa-edit text-white"></i>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="bg-red-light profile-edit-btn">#}
{#                    {{ include('Front/adverts/_delete_form.html.twig') }}#}
{#                </div>#}
{#            {% endif %}#}
{#            #}{# HEADER #}
{#            <div style="height: 60px;" class="w-full flex items-center justify-between font-bold text-primary bg-primary-lighter rounded-t px-4 bg-white border-b-2 border-playmore-blue-lightest">#}
{#                <p class="text-base">Location #{{ advert.advert_id }}</p>#}
{#                <div class="flex items-center">#}
{#                    <i class="fas fa-calendar"></i>#}
{#                    <div class="flex flex-col ml-2 text-sm text-right">#}
{#                        <p>Du {{ advert.start_date | localizeddate('medium', 'none') }}</p>#}
{#                        <p>Au {{ advert.end_date | localizeddate('medium', 'none') }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            #}{# MAIN #}
{#            <div style="height: 180px;" class="bg-white px-4 flex flex-col">#}
{#                <div class="h-full flex justify-between items-center border-playmore-blue-lightest">#}
{#                    <div class="flex">#}
{#                        <img style="width: 48px; height: 60px;" src="{{ asset('images/games/' ~  advert.game_owned_img_name  ) }}" alt="">#}
{#                        <div class="flex flex-col justify-center ml-3">#}
{#                            <p class="font-bold text-black pb-1">{{ advert.game_owned_name }}</p>#}
{#                            <p class="font-semibold text-grey-dark">{% include 'Partials/game_icon.html.twig' with { 'name' : advert.game_owned_platform } %}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <p class="text-primary font-semibold">{{ advert.price }} PMC</p>#}
{#                </div>#}
{#            </div>#}
{#            #}{# FOOTER #}
{#            {% if is_granted('ROLE_USER') %}#}
{#            <div style="height: 60px;" class="flex items-center justify-between px-4 bg-primary-lightest rounded-b">#}
{#                <a class="flex items-center justify-between" href="{{ path('user_profile', { 'slug': advert.user_slug }) }}">#}
{#                    <img style="height: 40px; width: 40px;" src="{{ asset('images/user/' ~ advert.user_img_name) }}" alt="" class="rounded-full bg-grey">#}
{#                    <div class="flex flex-col text-xs text-primary font-semibold ml-2">#}
{#                        <p>{{ advert.username | capitalize }}</p>#}
{#                        #}{#<p>Pontault-Combault</p>#}
{#                    </div>#}
{#                </a>#}
{#                {% if advert.user_id != app.user.id %}#}
{#                    {% if advert.advert_status == 'Fermé' %}#}
{#                        <p class="font-semibold">Annonce déjà pourvue</p>#}
{#                    {% else %}#}
{#                    <a href="#" class="btn btn-edit offer-btn" data-advert-id="{{ advert.advert_id }}">Faire une offre</a>#}
{#                    {% endif %}#}
{#                {% else %}#}
{#                    <a href="#" class="btn btn-edit showOffers" data-advert-id="{{ advert.advert_id }}">({{ advert.offer_cnt }}) Offres</a>#}
{#                {% endif %}#}
{#            </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    {% endif %}#}
{#{% endfor %}#}


{% for advert in adverts %}
    <div class="bg-white p-5 shadow rounded flex flex-col justify-between mr-4 my-4" style="height: 250px; width: 568px">
        {% include 'Front/adverts/_profile_name_city.html.twig' with { 'img_name': advert.user_img_name, 'username': advert.username, 'city': advert.city, 'postal_code': advert.postal_code } %}
        <div class="flex justify-between items-center">
            <div class="flex">
                <img style="width: 65px; height: 82px;" src="{{ asset('images/games/' ~  advert.game_owned_img_name  ) }}" alt="">
                <div class="flex flex-col justify-center ml-3">
                    <p class="font-bold text-playmore-text pb-1">{{ advert.game_owned_name }}</p>
                    <p class="text-playmore-purple-400">{{ advert.game_owned_platform }}</p>
                </div>
            </div>
            <a href="{{ path('advert_show', {'id': advert.advert_id}) }}">
                <svg style="fill: #484757" xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="external-link"><rect width="24" height="24" opacity="0"/><path d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1z"/><path d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2z"/></g></g></svg>
            </a>
        </div>
        <div class="flex justify-between text-playmore-purple-500">
            <div class="flex items-center">
                <svg style="fill: currentColor" xmlns="http://www.w3.org/2000/svg" height="25px" width="25px" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="clock"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/><path d="M16 11h-3V8a1 1 0 0 0-2 0v4a1 1 0 0 0 1 1h4a1 1 0 0 0 0-2z"/></g></g></svg>
                <p class="ml-2 created_at" datetime="{{ advert.created_at }}"></p>
            </div>
            <p class="font-semibold">{{ advert.advert_kind_name }}</p>
        </div>
    </div>
{% endfor %}