{% for advert in adverts %}
    {% if advert.advert_kind_name == 'Echange' %}
        <div class="advert-card shadow rounded">
            {% if is_granted('ROLE_USER') and advert.user_id == app.user.id %}
            <div class="bg-playmore-blue profile-left-btn">
                <a href="{{ path('advert_edit', {'id': advert.advert_id}) }}">
                    <i class="fas fa-edit text-white"></i>
                </a>
            </div>
            <div class="bg-red-light profile-edit-btn">
                {{ include('Front/adverts/_delete_form.html.twig') }}
            </div>
            {% endif %}
            {# HEADER #}
            <div style="height: 60px;" class="w-full flex items-center justify-between font-bold text-playmore-blue-lightest rounded-t px-4 border-b-2 bg-playmore-blue-darkest border-playmore-blue-lightest">
                <div class="flex">
                    <i class="far fa-clock"></i>
                    <p class="text-base created_at ml-2" datetime="{{ advert.created_at }}"></p>
                </div>
                <div class="flex items-center">
                    <i class="fas fa-calendar"></i>
                    <div class="flex flex-col ml-2 text-sm text-right">
                        <p>Du {{ advert.start_date | localizeddate('medium', 'none') }}</p>
                        <p>Au {{ advert.end_date | localizeddate('medium', 'none') }}</p>
                    </div>
                </div>
            </div>
            {# MAIN #}
            <div style="height: 240px;" class="bg-white px-4 flex flex-col text-playmore-text">
                <div class="h-1/2 flex justify-between items-center border-b-2 border-playmore-blue-lightest">
                    <div class="flex">
                        <img style="width: 48px; height: 60px;" src="{{ asset('images/games/' ~  advert.game_owned_img_name  ) }}" alt="">
                        <div class="flex flex-col justify-center ml-3">
                            <p class="font-bold pb-1">{{ advert.game_owned_name }}</p>
                            <p class="font-semibold">{{ advert.game_owned_platform }}</p>
                        </div>
                    </div>
                    <p class="text-playmore-text font-semibold">Possède</p>
                </div>
                <div class="h-1/2 flex justify-between items-center">
                    <div class="flex">
                        <img style="width: 48px; height: 60px;" src="{{ asset('images/games/' ~ advert.game_wanted_img_name ) }}" alt="">
                        <div class="flex flex-col justify-center ml-3">
                            <p class="font-bold text-black pb-1">{{ advert.game_wanted_name }}</p>
                            <p class="font-semibold">{{ advert.game_wanted_platform  }}</p>
                        </div>
                    </div>
                    <p class="text-playmore-text font-semibold">Recherche</p>
                </div>
            </div>
            {# FOOTER #}
            {% if is_granted('ROLE_USER') %}
            <div style="height: 60px;" class="flex items-center justify-between px-4 bg-playmore-blue-lightest rounded-b">
                <a class="flex items-center justify-between" href="{{ path('user_profile', { 'slug' : advert.user_slug }) }}">
                    <img style="height: 40px; width: 40px;" src="{{ asset('images/user/' ~ advert.user_img_name) }}" alt="" class="rounded-full bg-grey">
                    <div class="flex flex-col text-sm ml-3">
                        <p class="font-bold text-playmore-text">{{ advert.username | capitalize }}</p>
                        <p class="text-playmore-text-light">{{ advert.city }} ({{ advert.postal_code }})</p>
                    </div>
                </a>
                <a href="{{ path('advert_show', {'id': advert.advert_id}) }}" class="btn btn-secondary">Voir</a>
            </div>
            {% endif %}
        </div>
    {% elseif advert.advert_kind_name == 'Location' %}
        <div class="advert-card">
            {% if is_granted('ROLE_USER') and advert.user_id == app.user.id %}
                <div class="bg-playmore-blue profile-left-btn">
                    <a href="{{ path('advert_edit', {'id': advert.advert_id}) }}">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                </div>
                <div class="bg-red-light profile-edit-btn">
                    {{ include('Front/adverts/_delete_form.html.twig') }}
                </div>
            {% endif %}
            {# HEADER #}
            <div style="height: 60px;" class="w-full flex items-center justify-between font-bold text-primary bg-primary-lighter rounded-t px-4 bg-white border-b-2 border-playmore-blue-lightest">
                <p class="text-base">Location #{{ advert.advert_id }}</p>
                <div class="flex items-center">
                    <i class="fas fa-calendar"></i>
                    <div class="flex flex-col ml-2 text-sm text-right">
                        <p>Du {{ advert.start_date | localizeddate('medium', 'none') }}</p>
                        <p>Au {{ advert.end_date | localizeddate('medium', 'none') }}</p>
                    </div>
                </div>
            </div>
            {# MAIN #}
            <div style="height: 180px;" class="bg-white px-4 flex flex-col">
                <div class="h-full flex justify-between items-center border-playmore-blue-lightest">
                    <div class="flex">
                        <img style="width: 48px; height: 60px;" src="{{ asset('images/games/' ~  advert.game_owned_img_name  ) }}" alt="">
                        <div class="flex flex-col justify-center ml-3">
                            <p class="font-bold text-black pb-1">{{ advert.game_owned_name }}</p>
                            <p class="font-semibold text-grey-dark">{% include 'Partials/game_icon.html.twig' with { 'name' : advert.game_owned_platform } %}</p>
                        </div>
                    </div>
                    <p class="text-primary font-semibold">{{ advert.price }} PMC</p>
                </div>
            </div>
            {# FOOTER #}
            {% if is_granted('ROLE_USER') %}
            <div style="height: 60px;" class="flex items-center justify-between px-4 bg-primary-lightest rounded-b">
                <a class="flex items-center justify-between" href="{{ path('user_profile', { 'slug': advert.user_slug }) }}">
                    <img style="height: 40px; width: 40px;" src="{{ asset('images/user/' ~ advert.user_img_name) }}" alt="" class="rounded-full bg-grey">
                    <div class="flex flex-col text-xs text-primary font-semibold ml-2">
                        <p>{{ advert.username | capitalize }}</p>
                        {#<p>Pontault-Combault</p>#}
                    </div>
                </a>
                {% if advert.user_id != app.user.id %}
                    {% if advert.advert_status == 'Fermé' %}
                        <p class="font-semibold">Annonce déjà pourvue</p>
                    {% else %}
                    <a href="#" class="btn btn-edit offer-btn" data-advert-id="{{ advert.advert_id }}">Faire une offre</a>
                    {% endif %}
                {% else %}
                    <a href="#" class="btn btn-edit showOffers" data-advert-id="{{ advert.advert_id }}">({{ advert.offer_cnt }}) Offres</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}