{% extends 'Front/base.html.twig' %}

{% block content %}
    <div class="min-h-screen bg-grey-lightest flex">
        <div class="w-260px px-8 py-12 text-white" style="background:#273268;">
            <form action="" method="post">
                <div class="mb-8">
                    <p class="text-lg tracking-wide uppercase font-bold text-playmore-purple-400">Plateformes</p>
                    <div class="my-4 font-semibold">
                        {% for platform in platforms %}
                            <div class="mb-4 flex items-center">
                                <input class="mr-3" type="checkbox" name="platform[]" value="{{ platform.id }}" id="{{ platform.name }}"
                                    {% if platform.id in filters.platform %} checked="checked" {% endif %}
                                >
                                <label for="{{ platform.name }}">{{ platform.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-8">
                    <p class="text-lg tracking-wide uppercase font-bold text-playmore-purple-400">Type d'annonce</p>
                    <div class="my-4 font-semibold ">
                        {% for advertKind in advertKinds %}
                            <div class="mb-4 flex items-center">
                                <input class="mr-3" type="checkbox" name="advert_kind[]" value="{{ advertKind.id }}" id="{{ advertKind.name }}"
                                    {% if advertKind.id in filters.advert_kind %} checked="checked" {% endif %}
                                >
                                <label for="{{ advertKind.name }}">{{ advertKind.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if app.user is not null %}
                    <div class="mb-8">
                        <p class="text-lg tracking-wide uppercase font-bold text-playmore-purple-400">Distance < </p>
                        <div class="my-4 font-semibold">
                            <select name="distance" id="">
                                <option value="">Distance</option>
                                {% for distance in distances %}
                                    <option value="{{ distance }}"
                                    {% if distance in filters.distance %} selected="selected" {% endif %}
                                    >{{ distance }} km</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
                <div class="mb-8">
                    <p class="text-lg tracking-wide uppercase font-bold text-playmore-purple-400">Jeux</p>
                    <input type="text" class="mt-4 p-3 rounded w-full" name="game" {% if filters.game is not null %} value="{{ filters.game }}" {% endif %}>
                </div>
                <button class="bg-playmore-blue font-bold p-4 rounded text-playmore-blue text-playmore-blue-lightest tracking-wide uppercase w-full">Rechercher</button>
            </form>
        </div>
        <div class="mx-auto w-2/3">
            <div class="flex flex-col">
                <h1 class="font-bold uppercase text-playmore-purple-500 mt-12 text-2xl ml-12">Annonces</h1>
                <div class="flex flex-wrap justify-center items-center">
                    {% include 'Front/adverts/_advert.html.twig' with { 'adverts': adverts }%}
                </div>
            </div>
            <div class="navigation flex items-center justify-center mt-16">
                {{ knp_pagination_render(adverts) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('advert') }}
    {{ encore_entry_script_tags('advert_offer') }}
{% endblock %}