{% extends 'Front/base.html.twig' %}

{% block content %}
    <div class="backdrop"></div>
    <div class="modal">
        <h1 class="text-playmore-purple-500 text-xl mb-4">Liste des offres</h1>
        <div class="modal-body">
            {% if offers is not empty %}
                {% for offer in offers %}
                    <div class="text-playmore-text border-2 rounded p-4 mb-4" data-offer-id="{{ offer.offer_id }}"
                         style="min-width: 400px;
                                {% if offer.offer_status == 'Refusé' %}
                                 opacity: 0.5;
                                {% endif %}
                                 "
                    >
                        <div class="flex justify-between mb-4">
                            <span>{{ offer.start_date | localizeddate('medium', 'none') }} - {{ offer.end_date | localizeddate('medium', 'none') }}</span>
                            <span>Par {{ offer.offer_created_by_username }}</span>
                        </div>
                        <div class="flex items-center justify-between mb-4">
                            {% if offer.advert_name == 'Echange' %}
                                <div class="flex flex-col justify-center mr-4">
                                    <span class="font-bold mb-2">{{ offer.game_offer_name }}</span>
                                    <span class="font-semibold text-sm tracking-wide">{{ offer.game_offer_platform }}</span>
                                </div>
                                <img src="{{ asset('images/user/' ~  offer.offer_created_by_img  ) }}" alt="" style="width: 40px; height: 40px;" class="rounded-full">
                            {% endif %}
                            {% if offer.advert_name == 'Location' %}
                                <p class="text-lg font-bold">{{ offer.price }} PMC</p>
                            {% endif %}
                        </div>
                        {% if offer.offer_status == 'En cours de validation' %}
                            <div class="text-right buttons">
                                <button class="font-semibold text-green-light mr-2 accept-btn" data-offer-id="{{ offer.offer_id }}">Accepter</button>
                                <button class="font-semibold text-red decline-btn" data-offer-id="{{ offer.offer_id }}">Refuser</button>
                            </div>
                        {% elseif offer.offer_status == 'Accepté' %}
                            <p class="text-right font-bold text-green-light uppercase">offre accepté</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="min-h-screen mx-auto my-16" style="width: 700px">
        <div class="bg-white flex items-center justify-between mb-8 p-6 rounded">
            {% include 'Front/adverts/_profile_name_city.html.twig' with { 'img_name': advert.user_img_name, 'username': advert.username, 'city': advert.city, 'postal_code': advert.postal_code } %}
            <div class="flex">
                {% if app.user is defined and app.user.id == advert.user_id %}
                    <button class="bg-playmore-purple-500 font-bold p-3 rounded text-white" id="offer-btn" data-offer-id="{{ advert.advert_id }}">Offres ({{ cnt_offers }})</button>
                    <a href="{{ path('advert_edit', {'id' : advert.advert_id}) }}" class="bg-playmore-blue font-bold p-3 rounded text-white ml-3">Editer</a>
                    {{ include('Front/adverts/_delete_form.html.twig') }}
                {% elseif can_offer is not empty %}
                    <a href="">Voir mon offre</a>
                {% else %}
                    <button class="bg-playmore-blue font-bold p-3 rounded text-white offer-btn" data-advert-id="{{ advert.advert_id }}" >Faire une offre</button>
                    <a class="bg-playmore-purple-400 font-bold p-3 rounded text-white ml-3"
                        href="{{ path('message_conversation', {'user_from': app.user.id, 'user_to' : advert.user_id}) }}">
                        Contacter
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="flex justify-between my-10 pb-4 border-b-4 border-playmore-purple-500 font-semibold text-2xl text-playmore-purple-400">
            <div class="flex items-center">
                <svg style="fill: currentColor" xmlns="http://www.w3.org/2000/svg" height="30px" width="30px" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="clock"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/><path d="M16 11h-3V8a1 1 0 0 0-2 0v4a1 1 0 0 0 1 1h4a1 1 0 0 0 0-2z"/></g></g></svg>
                <p class="ml-2 created_at" datetime="{{ advert.created_at }}"></p>
            </div>
            <p>{{ advert.advert_kind_name }}</p>
        </div>

        <div>
            <div class="p-5 bg-white rounded">
                <p class="font-bold text-playmore-purple-500 mb-3 tracking-wide uppercase">possède</p>
                <div class="flex">
                    <img style="width: 130px; height: 167px;" src="{{ asset('images/games/' ~  advert.game_owned_img_name  ) }}" alt="">
                    <div class="flex flex-col justify-center ml-6">
                        <p class="font-bold text-2xl text-playmore-text pb-1">{{ advert.game_owned_name }}</p>
                        <p class="text-xl" style="color: {{ advert.game_owned_plat_color }}">{{ advert.game_owned_platform }}</p>
                    </div>
                </div>
                {% if advert.price is not null %}
                    <p class="mt-5 uppercase font-bold tracking-wide text-playmore-purple-500">Prix : {{ advert.price }} <span>PMC</span></p>
                {% endif %}
            </div>
            {% if advert.game_wanted_name is not null %}
            <div class="mt-3 p-5 bg-white rounded">
                <p class="font-bold text-playmore-purple-500 mb-3 tracking-wide uppercase">recherche</p>
                <div class="flex">
                    <img style="width: 130px; height: 167px;" src="{{ asset('images/games/' ~  advert.game_wanted_img_name  ) }}" alt="">
                    <div class="flex flex-col justify-center ml-6">
                        <p class="font-bold text-2xl text-playmore-text pb-1">{{ advert.game_wanted_name }}</p>
                        <p class="text-xl" style="color: {{ advert.game_wanted_plat_color }}">{{ advert.game_wanted_platform }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% if advert.description is defined and advert.description is not null %}
        <div class="mt-10">
            <h1 class="text-playmore-text mb-4">Description</h1>
            <div class="w-full h-210px bg-white rounded p-5 text-playmore-text">
                {{ advert.description }}
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('advert') }}
    {{ encore_entry_script_tags('advert_offer') }}
    {{ encore_entry_script_tags('advert_show') }}
{% endblock %}

