{% extends 'Front/base.html.twig' %}

{% block content %}
    <div class="min-h-screen bg-grey-lightest flex">
        <div class="w-260px px-8 py-12 text-white" style="background:#273268;">
            <div class="mb-8">
                <p class="text-lg tracking-wide uppercase font-bold text-playmore-purple-400">Plateformes</p>
                <div class="my-4 font-semibold">
                    {% set platforms = ['PS4', 'XBOX ONE', 'SWITCH', 'PC'] %}
                    {% for platform in platforms %}
                    <div class="mb-4 flex items-center">
                        <input class="mr-3" type="checkbox" value="{{ platform }}" id="{{ platform }}">
                        <label for="{{ platform }}">{{ platform }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-8">
                <p class="text-lg tracking-wide uppercase font-bold text-playmore-purple-400">Type d'annonce</p>
                <div class="my-4 font-semibold ">
                    {% set advertTypes = ['Echange', 'Location'] %}
                    {% for advertType in advertTypes %}
                    <div class="mb-4 flex items-center">
                        <input class="mr-3" type="checkbox" value="{{ advertType }}" id="{{ advertType }}">
                        <label for="{{ advertType }}">{{ advertType }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-8">
                <p class="text-lg tracking-wide uppercase font-bold text-playmore-purple-400">Distance < </p>
                <div class="my-4 font-semibold">
                    <select name="" id="">
                        <option value="">5 km</option>
                        <option value="">10 km</option>
                        <option value="">15 km</option>
                        <option value="">20 km</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="mx-auto">
            <h1 class="font-bold uppercase text-playmore-purple-500 mt-12 text-2xl">Toutes les annonces</h1>
            <div class="flex flex-wrap justify-start items-start">
                {% include 'Front/adverts/_advert.html.twig' with { 'adverts': adverts }%}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('advert') }}
    {{ encore_entry_script_tags('advert_offer') }}
{% endblock %}