{{ form_start(form) }}
    <div class="flex-col rounded bg-white shadow-md">
        <div class="flex w-full">
            <div class="w-1/2 p-8">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
            </div>
            <div class="w-1/2 p-8">
                {{ form_rest(form) }}
            </div>
        </div>
        <div class="bg-grey-lighter flex p-4 rounded-b justify-end">
            <button class="btn btn-edit mr-2">{{ button_label|default('Enregistrer') }}</button>
            <a class="btn btn-secondary" href="{{ path('user_index') }}">Retour</a>
        </div>
    </div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
