<!DOCTYPE html>

<title>Developper index</title>

{% block body %}
    <h1>Developper index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for developper in developpers %}
            <tr>
                <td>{{ developper.id }}</td>
                <td>{{ developper.name }}</td>
                <td>{{ developper.logo }}</td>
                <td>
                    <a href="{{ path('developper_show', {'id': developper.id}) }}">show</a>
                    <a href="{{ path('developper_edit', {'slug': developper.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('developper_new') }}">Create new</a>
{% endblock %}
