<style>
    .pagination span {
        padding: 10px 16px;
        border: 1px solid #dddddd;
        text-align: center;
    }
    .current {
        background: #4d5eb4;
        color:white;
        font-weight: bold;
    }
    .first, .previous, .page, .next, .last {
        background: white;
    }
</style>
{% if pageCount > 1 %}
    <div class="pagination flex items-center">
        {% if first is defined and current != first %}
            <span class="first">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
            </span>
        {% endif %}

        {% if previous is defined %}
            <span class="previous">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
            </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="page">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </span>
            {% else %}
                <span class="current">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <span class="next">
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
            </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="last">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
            </span>
        {% endif %}
    </div>
{% endif %}